<!DOCTYPE html>
<html lang="en">
	<% include partials/header %>
	
	<body>
		<% include partials/nav %>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>What we do</h1>
					<div class="line-separator"></div>
				</div>

				<div class="col-md-4 col-sm-12 text-center">
					<h3>Acquisitions</h3>
					<p>Lease and ancillary document review and analysis - from tenancy schedule verification to full summaries</p>
				</div>
				
				<div class="col-md-4 col-sm-12 text-center">
					<h3>Disposals</h3>
					<p>Disposal 'trigger clause' or other key clause identification, for all documents</p>
				</div>
				
				<div class="col-md-4 col-sm-12 text-center">
					<h3>Portfolio Reviews</h3>
					<p>Broad reviews or targeted issue analysis</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h1>Our value</h1>
					<div class="line-separator"></div>
				</div>

				<div class="col-md-3">
					<h4 class="text-center text-bold">Superior insights</h3>
					<ul>
						<li>Aggregated, quantified summary of key issues</li>
						<li>Detailed, consistent lease summary reports</li>
					</ul>
				</div>
				
				<div class="col-md-3">
					<h4 class="text-center text-bold">Real time output</h3>
					<ul>
						<li>Key issues flagged as they are uncovered</li>
						<li>Overall reporting sooner, enabling better decision making</li>
					</ul>
				</div>
				
				<div class="col-md-3">
					<h4 class="text-center text-bold">Single point of reference</h3>
					<ul>
						<li>Single, online point of reference for all stakeholders</li>
					</ul>
				</div>
				
				<div class="col-md-3">
					<h4 class="text-center text-bold">Data easily diseminated</h3>
					<ul>
						<li>Data can be exported and repurposed, as required</li>
						<li>No double handling, no error</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h1>Who we work with</h1>
					<div class="line-separator"></div>
				</div>

				<div class="col-md-3 text-center">
					<h3>Buyers & Sellers</h3>
				</div>
				
				<div class="col-md-3 text-center">
					<h3>Law firms</h3>
				</div>
				
				<div class="col-md-3 text-center">
					<h3>Landlords & Tenants</h3>
				</div>
				
				<div class="col-md-3 text-center">
					<h3>Banks</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h1>How we work</h1>
					<div class="line-separator"></div>
					<h4>In whatever way best suits you!</h4>
				</div>

				<div class="col-md-4">
					<h3>Directly with the business</h3>
				</div>

				<div class="col-md-4">
					<h3>With your in-house legal</h3>
				</div>
				
				<div class="col-md-4">
					<h3>With your transaction firm</h3>
				</div>
				
				<div class="col-md-12">
					<p>You let us know the structure, and we'll get on with the job.</p>
					<p>Our location is also flexible. We operate remotely, but if there is a need for us on-site, we are happy to discuss.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h1>Pricing</h1>
					<div class="line-separator"></div>
				</div>

				<div class="col-md-4 text-center">
					<h3>Less than big law firms</h3>
				</div>
				
				<div class="col-md-4 text-center">
					<h3>Sensible clear scope</h3>
				</div>
				
				<div class="col-md-4 text-center">
					<h3>Fixed</h3>
				</div>
			</div>
		</div>
	</body>
</html>