	<!DOCTYPE html>
<html lang="en">
	<% include partials/header %>
	
	<body>
		<% include partials/nav %>

		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<h1>General Enquiries</h1>
					<div class="line-separator"></div>
					<p>We believe the lease is one of the most valuable data resources in commercial real estate, and are helping landlords and tenants better understand and evaluate their lease portfolios.</p>
					<p>If you are buying or selling, or looking at specific issues across a portfolio, and want to get real value from that process, do get in touch.</p>
					<p>If you just want to reach out and say 'hi', you're quite welcome to do that also :)</p>
				</div>
			</div>

			<div class="row">
				<form class="col-md-9 col-md-offset-1">
					<div class="form-group">
						<label for="name">Name <span class="text-red">*</span></label>
						<input class="form-control" type="text" name="name"/>
					</div>

					<div class="form-group">
						<label for="email">Email <span class="text-red">*</span></label>
						<input class="form-control" type="email" name="email"/>
					</div>

					<div class="form-group">
						<label for="subject">Subject <span class="text-red">*</span></label>
						<input class="form-control" type="text" name="subject"/>
					</div>

					<div class="form-group">
						<label for="message">Message <span class="text-red">*</span></label>
						<textarea class="form-control"></textarea>
					</div>

					<input type="submit" class="btn btn-default form-control" value="Send" />
				</form>
			</div>

				<div class="row">
					<div class="col-md-9 col-md-offset-1">
						<p class="text-center">For information about how we collect, uses and discloses your personal information, see our <br> <span class="text-underline">Collection Statement</span> and <span class="text-underline">Privacy Policy</span>.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>