<!DOCTYPE html>
<html lang="en">
	<% include partials/header %>
	
	<body>
		<% include partials/nav %>

		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<h1>Work(s) for us</h1>
					<div class="line-separator"></div>

					<p>We are looking for people who want to be challenged and do great work, and be part of something special.  We are also building a business which strives to balance this with a flexible framework for you to work in.</p>

					<p class="text-bold">If this sounds enticing, check out one of the categories below:</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<div class="col-md-4 text-center margin-bottom-20px">
						<div class="btn btn-default">Lawyers</div>
					</div>
					
					<div class="col-md-4 text-center margin-bottom-20px">
						<div class="btn btn-default">Developers</div>
					</div>
					
					<div class="col-md-4 text-center margin-bottom-20px">
						<div class="btn btn-default">Media &amp; Design</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<p>If you are a square peg in one of these round holes but still like the sound of what we are doing, please still get in touch.  We love to meet talented and interesting people - and, who knows?!</p>

					<p>Get in touch below and tell us something interesting about you - like the one thing you are obsessed with at the moment:</p>

					<div class="block-quote text-italic text-light-grey">
						"I consume every piece of content that Scott Galloway of NYU Stern / L2 puts out.  Can't get enough!" <br>
						<span class="pull-right">— Alister Fitzgerald, CEO</span>
					</div>
				</div>
			</div>

			<div class="row">
				<form class="col-md-9 col-md-offset-1">
					<div class="form-group">
						<label for="name">Name <span class="text-red">*</span></label>
						<input class="form-control" type="text" name="name"/>
					</div>

					<div class="form-group">
						<label for="email">Email <span class="text-red">*</span></label>
						<input class="form-control" type="email" name="email"/>
					</div>

					<div class="form-group">
						<label for="subject">Subject <span class="text-red">*</span></label>
						<input class="form-control" type="text" name="subject"/>
					</div>

					<div class="form-group">
						<label for="message">Message <span class="text-red">*</span></label>
						<textarea class="form-control"></textarea>
					</div>

					<input type="submit" class="btn btn-default form-control" value="Send" />
				</form>
			</div>

			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<p class="text-center">For information about how we collect, uses and discloses your personal information, see our <br> <span class="text-underline">Collection Statement</span> and <span class="text-underline">Privacy Policy</span>.</p>
				</div>
			</div>
		</div>
	</body>
</html>